<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Manrique Sanchez May</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="Like">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>My Account</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
  </mat-toolbar>
  
  <mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list>
            <mat-list-item routerLink="/home">
                <mat-icon>dashboard</mat-icon><span>Portafolio</span>
                
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true">            
              <mat-expansion-panel-header>
                <span class="material-icons">manage_accounts </span>   &nbsp;  Front End
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="/sistema">
                    <img src="./../assets/img/angular.png" width="20px"/>
                    <span>&nbsp; Angular</span>
                  </a>
              </mat-nav-list>
          </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true">            
                <mat-expansion-panel-header>
                    <span class="material-icons"> settings </span> &nbsp;  Back End
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/persona">
                        <mat-icon>person_add</mat-icon><span>&nbsp; Alta</span>
                    </a>
                    <a mat-list-item routerLink="/roles">
                        <mat-icon>group_add</mat-icon><span>&nbsp; Roles</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    <span class="material-icons">verified </span> &nbsp;  Aplicaciones
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/permisos"><span class="material-icons">
                      system_security_update_good
                      </span>&nbsp; Permisos</a>
                    <a mat-list-item routerLink="/modulo"><span class="material-icons">
                      assured_workload
                      </span>&nbsp; Modulos</a>
                    <a mat-list-item routerLink="/rol"><span class="material-icons">
                      sync_lock
                      </span>&nbsp; Rol</a>
                    <a mat-list-item routerLink="/privilegio"><span class="material-icons">
                      sync_lock
                      </span>&nbsp; Privilegios</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>         
        </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>